/* Custom CSS Styles */
:root {
  --primary-color: #10c3c9;
  --secondary-color: orange;
  --text-color: #141414;
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  font-size: 15px;
}

body {
  background-color: antiquewhite;
  font-family: var(--secondary-font);
  color: var(--text-color);
}

p {
  color: var(--text-color);
  margin-bottom: 1.3rem;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.section-container {
  padding: 50px 0;
}

.section-header {
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.section-header::after {
  content: '';
  display: block;
  width: 120px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 15px auto 0;
  border-radius: 2px;
}

.section-desc {
    text-align: center;
    line-height: 1.35;
}

.btn-button {
  text-transform: capitalize;
  font-weight: bold;
  background: var(--secondary-color);
  border-radius: 5px;
}

.btn-button:hover {
  background-color: var(--primary-color);
  color: white;
  transition: all 0.6s ease;
}

span.unique-span {
  color: var(--primary-color);
}

a.top-link {
  font-weight: 900;
  cursor: pointer;
  color: blueviolet;
  padding: 10px 0;
}

.top-link:hover {
  color: var(--text-color);
  transition: all 0.6s ease;
}

/* Header CSS Styles */
a.logo {
  text-transform: math-auto;
  font-size: 1.3rem;
  padding: 0 15px;
  font-weight: bold;
  font-family: var(--primary-font);
}

span.logo-span {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.position-sticky {
  border-radius: 3px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 100;
  padding: 1em;
}

.navbar-nav .nav-item {
  margin: 0px 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.navbar-nav .nav-item .nav-link {
  color: var(--text-color);
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--primary-color);
  transition: all 0.6s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--primary-color);
}

/* Home Page Hero Section */
.bg-image {
  position: relative;
  background-image: url('../assets/images/banner-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.bg-image::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: 1;
}

.home-content {
  position: relative;
  z-index: 10;
}

h1.section-title {
  color: darkcyan;
  font-size: 2.5rem;
}

.text-antiquewhite {
  color: antiquewhite;
}

/* HomePage Features Section */
.feature-icon {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}

/* About Us Page */
.about-hero,
.about-mission {
  padding-bottom: 0;
}

.about-hero-image,
.mission-icon,
.team-icon {
  width: 250px;
  height: 150px;
}

.about-hero-text-container h3,
.mission-text-container h3,
.team-text-container h3 {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--text-color);
}

/* Features Page */
.features-header {
  padding-bottom: 0;
}

.section-btn-container {
  text-align: center;
  margin-top: 30px;
}

.main-feature-item {
  background-color: #f0f9f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 black;
}

.feature-title {
  font-size: 1.4rem;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 15px;
}

/* Footer Styles */
.footer {
  padding: 35px 0;
  background-color: var(--text-color);
}

.footer p {
  color: antiquewhite;
}
